<h1 class="title box">Shakeel the SF Repair Guy</h1>

<div class="team box">
	<h2>Meet the Team</h2>
	<p>We are a family owned and operated business, and will use your expertise to serve you well.</p>
	<div class="team-member">
		<%= image_tag('shakeel') %>
		<p>Shakeel</p>
		<p>Founder & Owner</p>
		<p>8 Years of Experience</p>
	</div>

	<div class="team-member">
		<%= image_tag('akbar') %>
		<p>Akbar</p>
		<p>Business Partner & Technician</p>
		<p>10 Years of Experience</p>
	</div>
</div>