body {
	background-image: url('bg-stretched');
	background-size:     100% 100%;                   
  background-repeat:   no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans";
  width: 80%;
  margin: auto;
}

.navbar {
	list-style-type: none;
	text-align: right;
}

.phone {
	vertical-align: 50%;
}

.icon {
	display: inline-block;
	color: white;
}

.icon img{
	width: 40px;
	height: 40px;
}

.title {
	text-align: center;
	padding: 25px;
}

.box {
	background-color: white;
	opacity: 0.95;
	border-radius: 20px;
}

.team {
	text-align: center;
}

.team-member {
	display: table-cell;
	text-align: center;
}

.team-member img{
	border-radius: 50%;
	width: 50%;
	height: auto;
	border: 2px solid black;
}