<ul class="navbar">

	<li class="icon"><%= link_to(image_tag("yelp"), 
		"https://www.yelp.com/biz/shakeel-the-iphone-repair-guy-south-san-francisco-2") %>
	</li>
 
 	<li class="icon"><%= link_to(image_tag("facebook"), 
		"https://www.facebook.com/Shakeel-the-iPhone-guy-204988412860083/") %>
	</li>

  <li class="icon"><%= link_to(image_tag("linkedin"), 
    "https://www.linkedin.com/company-beta/15940152/") %>
  </li>

</ul>